#header {
height: 50px;
background-color: black;
color: azure;
text-align: center;
}


#nav {
-webkit-margin-top-collapse: collapse;
height: 50px;
background-color: darkslategrey;
}
#nav ol {
    padding: 12px;
    text-align: center;
}
#nav ol li {
    padding: 36px;
    size: 100px;
    text-align: center;
    size: 96px;
    list-style: none;
    display: inline;

}

#nav ol li a {
    color: khaki;
}
