#header {
height: 50px;
background-color: black;
color: azure;
text-align: center;
}


#nav {
height: 50px;
background-color: darkslategrey;
}

#nav ol li {
    list-style: none;
    display: inline;
    size: 64px;
    color: khaki;
}
